<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gerenciamento de eFootball 2025</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Sistema de Gerenciamento de eFootball 2025 Mobile</h1>
    <nav>
        <ul>
            <li><a href="/campeonatos/cadastrar">Cadastrar Campeonato</a></li>
            <li><a href="/times/cadastrar">Cadastrar Time</a></li>
            <li><a href="/players/cadastrar">Cadastrar Player</a></li>
            <li><a href="/campeonatos">Visualizar Campeonatos</a></li>
        </ul>
    </nav>
</body>
</html>
